ISI-TP02-Forms/Connected Services/ServiceReference2/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ISITP02.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISITP02.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medico" nillable="true" type="tns:Medico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedico" nillable="true" type="tns:ArrayOfMedico" />
  <xs:complexType name="Medico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consultas" nillable="true" type="tns:ArrayOfConsulta" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMedico" nillable="true" type="tns:TipoMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medico" nillable="true" type="tns:Medico" />
  <xs:complexType name="ArrayOfConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Consulta" nillable="true" type="tns:Consulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsulta" nillable="true" type="tns:ArrayOfConsulta" />
  <xs:complexType name="Consulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:Funcionario" />
      <xs:element minOccurs="0" name="FuncionárioId" type="xs:int" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="tns:Hospital" />
      <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Medico" nillable="true" type="tns:Medico" />
      <xs:element minOccurs="0" name="MedicoId" type="xs:int" />
      <xs:element minOccurs="0" name="Utente" nillable="true" type="tns:Utente" />
      <xs:element minOccurs="0" name="UtenteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consulta" nillable="true" type="tns:Consulta" />
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consultas" nillable="true" type="tns:ArrayOfConsulta" />
      <xs:element minOccurs="0" name="Contacto" type="xs:int" />
      <xs:element minOccurs="0" name="DataEntrada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NIF" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoFuncionario" nillable="true" type="tns:TipoFuncionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
  <xs:complexType name="TipoFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoFuncionario" nillable="true" type="tns:TipoFuncionario" />
  <xs:complexType name="Hospital">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consultas" nillable="true" type="tns:ArrayOfConsulta" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Localizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Utentes" nillable="true" type="tns:ArrayOfUtente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hospital" nillable="true" type="tns:Hospital" />
  <xs:complexType name="ArrayOfUtente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Utente" nillable="true" type="tns:Utente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtente" nillable="true" type="tns:ArrayOfUtente" />
  <xs:complexType name="Utente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consultas" nillable="true" type="tns:ArrayOfConsulta" />
      <xs:element minOccurs="0" name="DataEntrada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="tns:Hospital" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NIF" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUtente" nillable="true" type="tns:TipoUtente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utente" nillable="true" type="tns:Utente" />
  <xs:complexType name="TipoUtente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUtente" nillable="true" type="tns:TipoUtente" />
  <xs:complexType name="TipoMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMedico" nillable="true" type="tns:TipoMedico" />
  <xs:complexType name="ArrayOfHospital">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hospital" nillable="true" type="tns:Hospital" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospital" nillable="true" type="tns:ArrayOfHospital" />
</xs:schema>